<?xml version="1.0" encoding="utf-8"?>
                    <!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN''http://www.apple.com/DTDs/PropertyList-1.0.dtd'
                    >
                    <plist version="1.0">
                        <dict>
                            <key>enabled</key>
                            <string>YES</string>
                            <key>menu-title</key>
                            <string>TV</string>
                            <key>merchant</key>
                            <string>com.apple.tv2.UTSVideo2</string>

                                    <key>auth-type</key>
                                    <string>js</string>
                                    <key>feed-resources</key>
                                    <dict>
                                        <key>base-url</key>
                                        <string>https://apps.mzstatic.com/content/df6d5b3d1ab640b28ae04deaa2838946/
                                        </string>
                                        <key>api-search-url</key>
                                        <string>https://jaybird.apple.com/search/incremental</string>
                                        <key>api-env</key>
                                        <string>prod</string>
                                        <key>amp-media-purchases-url</key>
                                        <string>https://amp-api.videos.apple.com/v1/me/purchases</string>
                                    </dict>
                                    <key>javascript-url</key>
                                    <string>
                                        https://apps.mzstatic.com/content/df6d5b3d1ab640b28ae04deaa2838946/application.js
                                    </string>
                                    <key>javascript-url-signature</key>
                                    <data>MBDVDGFKUcBVL4a4ZM0rPx3USjmYimVACooJuKbnM/ZFbDQEsYENm3HhYEpY
                                        epHvNB1EZcF9tYfPUm2be0UviE3ezFWEEgG/9cJuJtGudWP830jQiSU+g0vQ
                                        6ER9lsrbPViblH07jU9P0DU5TC5dYDsHL+OrLfHPPYKFf6D6Ka599XQ41ir9
                                        r4rOdEj4PauE/1/hadRCdjcJzd8dMcl8cDPguX1P2+mbdcFPaY6cQqIby9eB
                                        U9IX19duPVOd+Bi0bh5Eifl7T+6f6jki/sLObnXfNQTFChXKnOwx1857cQbe
                                        /861ktDt67YYhuKsnGjprahfOqdsQ0rT4XuIqcHlFg==
                                    </data>
                                    <key>menu-icon-url</key>
                                    <dict>
                                        <key>1080</key>
                                        <string>http://tunalley.apple.com/icons/atv7/AppleTV_Sep2019@1080.png</string>
                                        <key>720</key>
                                        <string>http://tunalley.apple.com/icons/atv7/AppleTV_Sep2019@720.png</string>
                                    </dict>
                                    <key>menu-icon-url-version</key>
                                    <string>4000</string>
                                    <key>minimum-required-version</key>
                                    <string>7.6</string>
                                    <key>preferred-order</key>
                                    <integer>1</integer>
                                    <key>support-url</key>
                                    <string>apple.com/support/itunes</string>
                                    <key>use-parental-controls</key>
                                    <string>YES</string>
                                    <key>app-dictionary</key>
                                    <dict>
                                        <key>adam-id</key>
                                        <integer>1174078549</integer>
                                        <key>app-version</key>
                                        <integer>830175835</integer>
                                        <key>bundle-identifier</key>
                                        <string>com.apple.tv2</string>
                                        <key>bundle-version</key>
                                        <string>1.3.3</string>
                                    </dict>
                                    <key>itunes-client-enabled</key>
                                    <string>YES</string>
                                    <key>itunes-client-signature</key>
                                    <data>Fbw7CrfGjG3C/jQnmawCopvkOuu6D2VCF1Qd7H/t9Y6juEE57SVuLtwzYHZR
                                        tC/+Nfszx6ENjvdRjggeV2GrZSUyqdwHkApzCm57VKw+X4dBboHQfpnxEdc5
                                        I0YAnVTpo4xhMQGUVBO9Now+x4B2vlOb+ZeCTc/Q/VWLkrJU+6SHd9nHXXo8
                                        Mr2dpt3oGHox4kW2MkVJ3xlyzbUiamBor+U9N0QJ6HaiDbxKAfU7vDWGh8Ko
                                        eQ4uiaP+G9A7iODkzpGy92An18jUzCEXADNj36ourV2zLrqKTKTx6Myam7fC
                                        iHQVgkNsvmzX83pF/HXr2AhRakHBXegjLcTbzIocpw==
                                    </data>
                                    <key>FRPrimaryAppliance</key>
                                    <true/>
                                    <key>FRTopShelfControllerClassName</key>
                                    <string>TVAPPTopShelfController</string>
                                    <key>FRSettingsControllerClassName</key>
                                    <string>SettingsTVAppViewController</string>
                                    <key>privacy</key>
                                    <dict>
                                        <key>bundle-identifier</key>
                                        <string>com.apple.onboarding.tvapp</string>
                                        <key>welcome-title-key</key>
                                        <string>PRIVACY_TVAPP_TITLE</string>
                                        <key>welcome-message-key</key>
                                        <string>PRIVACY_TVAPP_MESSAGE</string>
                                        <key>welcome-icon-key</key>
                                        <string>LG_TVAPP</string>
                                        <key>wlk-onboarding</key>
                                        <true/>
                                    </dict>
                        </dict>
                    </plist>